[submodule "modules/oConsole"]
	path = modules/oConsole
	url = https://github.com/SkyLined/oConsole/
[submodule "modules/mProductVersionAndLicense"]
	path = modules/mProductVersionAndLicense
	url = https://github.com/SkyLined/mProductVersionAndLicense/
