[submodule "modules/oConsole"]
	path = modules/oConsole
	url = https://github.com/SkyLined/oConsole/
[submodule "modules/mProductDetails"]
	path = modules/mProductDetails
	url = https://github.com/SkyLined/mProductDetails/
[submodule "modules/mWindowsAPI"]
	path = modules/mWindowsAPI
	url = https://github.com/SkyLined/mWindowsAPI/
[submodule "modules/mWindowsSDK"]
	path = modules/mWindowsSDK
	url = https://github.com/SkyLined/mWindowsSDK/
