[submodule "modules/oConsole"]
	path = modules/oConsole
	url = https://github.com/SkyLined/oConsole/
[submodule "modules/mProductDetails"]
	path = modules/mProductDetails
	url = https://github.com/SkyLined/mProductDetails/
[submodule "modules/mWindowsSDK"]
	path = modules/mWindowsSDK
	url = https://github.com/SkyLined/mWindowsSDK/
[submodule "modules/mDateTime"]
	path = modules/mDateTime
	url = https://github.com/SkyLined/mDateTime/
[submodule "modules/mRegistry"]
	path = modules/mRegistry
	url = https://github.com/SkyLined/mRegistry/
